#graph file path
C:/Users/Jeremy/OneDrive - Naval Postgraduate School/01- Student/99 Thesis/PythonVersion/data_files/email.csv
#function assign
C:/Users/Jeremy/OneDrive - Naval Postgraduate School/01- Student/99 Thesis/PythonVersion/data_files/email_funcs.csv
#output directory
C:/Users/Jeremy/OneDrive - Naval Postgraduate School/01- Student/99 Thesis/PythonVersion/results/email/
#MC
20000
#mH
250000
#number of batches
100
#Alpha
1
#Start
1
#End
5
#DStep
0.05