#graph file path
C:/Users/Jeremy/OneDrive - Naval Postgraduate School/01- Student/99 Thesis/PythonVersion/data_files/reddit_uniform.csv
#function assign
C:/Users/Jeremy/OneDrive - Naval Postgraduate School/01- Student/99 Thesis/PythonVersion/data_files/reddit_uniform_funcs.csv
#output directory
C:/Users/Jeremy/OneDrive - Naval Postgraduate School/01- Student/99 Thesis/PythonVersion/results/reddit/xsquared
#MC
10000
#mH
1000000
#number of batches
100
#Alpha
1
#Start
1
#End
5
#DStep
0.05