#graph file path
C:/Users/Jeremy Berg/OneDrive - Naval Postgraduate School/01- Student/99 Thesis/Code/CIM-master-Robust/data_utils/Wiki-Vote.csv
#function assign
C:/Users/Jeremy Berg/OneDrive - Naval Postgraduate School/01- Student/99 Thesis/Code/CIM-master-Robust/data_utils/Wiki-Vote_funcs.csv
#output directory
C:/Users/Jeremy Berg/OneDrive - Naval Postgraduate School/01- Student/99 Thesis/Code/CIM-master-Robust/Results
#number of batches
100
#Start
1
#End
5
#DStep
0.05